* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8d7da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 21px;
    color: rgb(254, 113, 113);
    position: fixed;
    top: 0;
}

.navbar {
    top: 0;
    margin-top: 55px;
    position: fixed;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    margin: 0px;
    top: 0;
    overflow: hidden;
    font-size: 20px;
}

.navbar a{
    color: rgb(255, 134, 154);
    text-decoration: none;
    padding: 100px 270px;
    text-align: center;
}

.navbar a:hover{
    color: rgb(255, 205, 213);
    width: 100%;
}

.navbar li{
    float: left;
}
 
li:last-child {
    border-right: none;
}

.log-entry {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    line-height: 28px;
    font-family: "Itim", cursive;
}

.log-entry button {
    font-family: "Itim", cursive;
}
